<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
  <a class="navbar-brand mx-2">Company Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" *ngIf="token">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" *ngIf="userType == 'employee'">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" *ngIf="userType == 'employee'">Add User</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light btn-floating mx-2" routerLink="/login" *ngIf="!token">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light btn-floating mx-2" (click)="logout()" *ngIf="token">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column text-dark">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">
            Dashboard 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="shopping-cart"></span>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">
            Customers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="bar-chart-2"></span>
            Reports
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="layers"></span>
            Integrations
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Saved reports</span>
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Current month
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Last quarter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Social engagement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Year-end sale
          </a>
        </li>
      </ul>
    </div>
  </nav> -->