<div class="ontainer p-3">
    <div class="card bg-light p-3">
        <h2 class="text-uppercase text-center mb-5">Add Project</h2>
        <form class="row">
            <div class="form-outline col-12 col-lg-6 p-2">
                <input type="text" class="form-control form-control-lg" placeholder="Project Name">
            </div>
            <div class="form-outline col-12 col-lg-6 p-2">
                <input type="text" class="form-control form-control-lg" placeholder="Location">
            </div>
            <div class="form-outline col-12 p-2">
                <textarea name="" class="form-control form-control-lg" placeholder="Description"></textarea>
            </div>
            <div class="form-outline col-12 col-lg-4 p-2">
                <input type="text" class="form-control form-control-lg" placeholder="Number of Buldings">
            </div>
            <div class="form-outline col-12 col-lg-4 p-2">
                <input type="text" class="form-control form-control-lg" placeholder="Number of floors in each bulding">
            </div>
            <div class="form-outline col-12 col-lg-4 p-2">
                <select name="" class="form-control form-control-lg">
                    <option value="" disabled selected>Project Type</option>
                    <option value="">For Sale</option>
                    <option value="">For Show</option>
                </select>
            </div>
            <div class="form-outline col-12 col-lg-6 p-2">
                <input type="file" class="form-control form-control-lg" placeholder="" multiple>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit"
                  class="btn btn-dark btn-block btn-lg gradient-custom-4">Add Project</button>
              </div>
        </form>
    </div>    
</div>